@model IEnumerable<Futbol5.Models.Jugador>

@using GridMvc.Html

@{
    ViewBag.Title = "Listado";
}


@Html.Grid(Model).Columns(columns =>
            {
                columns.Add(model => model.Nombre)
                    .SetWidth(100);
                columns.Add(model => model.Apodo)
                    .SetWidth(100);
                columns.Add(model => model.Fecha_Nac)
                    .Titled("Fecha de Nacimiento");
                columns.Add(model => model.Mail);
                columns.Add(model => model.Handicap);
                columns.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(30)
                    .RenderValueAs(j =>
                        @<b>
                            @Html.ActionLink("Editar", "Edit", new { id = j.Id })
                        </b>);
                columns.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(30)
                    .RenderValueAs(j =>
                        @<b>
                            @Html.ActionLink("Detalles", "Details", new { id = j.Id })
                        </b>);
                columns.Add()
                    .Encoded(false)
                    .Sanitized(false)
                    .SetWidth(30)
                    .RenderValueAs(j =>
                        @<b>
                            @Html.ActionLink("Eliminar", "Delete", new { id = j.Id })
                        </b>);
            }).SetRowCssClasses(item => item.Handicap > 8 ? "warning" : String.Empty).WithPaging(5).Sortable().Filterable(true).WithMultipleFilters().SetLanguage("es")

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">--whatever header you need----</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<p>
    @Html.ActionLink("Nuevo Jugador", "Create")
</p>

