@model Futbol5.Models.Inscripcion

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de Inscripcion</h2>

<fieldset>
    <legend>Inscripcion</legend>

    <div class="display-label">
         ID Partido
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Partido.Id)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Partido.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Partido.Fecha)
    </div>
    <div class="display-label">
        Estado del Partido
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Partido.EstadoPartido.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Jugador.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Jugador.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoInscripcion.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoInscripcion.Descripcion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Listado", "Index")
</p>
